DOUYIN_COOKIE_FILE=./secrets/douyin-cookies.json
DOUYIN_BROWSER_HEADLESS=true
DOUYIN_BROWSER_PROFILE_DIR=./storage/browser/douyin
DOUYIN_USE_DIRECT_API=false
DOUYIN_SIGNATURE_DIR=D:\Workspaces\automation videos\Douyin_TikTok_Download_API\crawlers\douyin\web
DOUYIN_RESULT_TTL_SECONDS=1800
DOUYIN_DEBUG=false
