DOUYIN_COOKIE_FILE=./secrets/douyin-cookies.json
DOUYIN_BROWSER_HEADLESS=true
DOUYIN_BROWSER_PROFILE_DIR=./storage/browser/douyin
DOUYIN_USE_DIRECT_API=false
DOUYIN_SIGNATURE_DIR=./vendor/Douyin_TikTok_Download_API/crawlers/douyin/web
DOUYIN_RESULT_TTL_SECONDS=1800
DEEPSEEK_API_KEY=
DEEPSEEK_MODEL=deepseek-chat
VIDEODESIGN_DEFAULT_LANGUAGE=en
VIDEODESIGN_TTS_PROVIDER=free_tts
VIDEODESIGN_TTS_VOICE_ID=en-US-AriaNeural
VIDEODESIGN_STORAGE_DIR=./storage/videodesign
DOUYIN_DEBUG=false
